<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  </head>
  <body>
    <h1>Hoctuvung.online</h1>
    <p>Thèn ngu này đã lâu lắm rồi không quay lại học tiếng anh</b></p>
    <p>Quay lại học ngay:
      <a
        href='https://hoctuvung.online/'
      >hoctuvung.online</a></p>

  </body>
</html>