<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  </head>
  <body>
    <p>Xin chào
      <b>{{username}}</b>. Chúng tôi nhận thấy bạn đã không hoạt động quá lâu.
      Hãy quay lại học ngay nhé.!</p>
    <p>Link:
      <a href='https://hoctuvung.online/'>hoctuvung.online</a></p>

  </body>
</html>